.notifications-container{
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.send-notification {
  margin-bottom: 20px;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.send-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom:10px;
}

.delete-all-btn {
  background-color: orangered;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}


.delete-all-btn:hover,.delete-btn:hover {
  background-color: rgb(211, 56, 0);
}

.delete-btn{
  background-color: orangered;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #dee2e6;
}

th, td {
  padding: 12px;
  text-align: left;
}

.notification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

@media (max-width:768px){
  .notification-item{
    flex-direction: column;
    align-items: start;
  }

  .button-container{
    flex-direction: column;
    align-items: start;
  }

}