.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirmButton, .cancelButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirmButton {
  background-color: orange;
  color: white;
}

.cancelButton {
  background-color: #bdc3c7;
  color: black;
}

p,h3{
  color:black;
}


