:root {
  --background-color: #f9f9f9;
  --primary-text-color: #333;
  --input-background-color: #fff;
  --input-text-color: #333;
  --border-color: #ddd;
  --accent-color: orange; /* Or your accent color */
  --btn-accent-background: orange;
  --btn-accent-hover: rgb(222, 145, 2);
  --btn-cancel-background: #f8f9fa;
  --btn-cancel-hover: #e2e6ea;
  --nav-font: 'Arial', sans-serif; /* Replace with your custom font */
}
/* CourseForm.module.css */

.form-container {
  background-color: var(--background-color); /* Set background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 500px;
  margin: 20px auto;
}

.form-header {
  font-family: var(--nav-font);
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-family: var(--nav-font);
  font-size: 16px;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-family: var(--nav-font);
  font-size: 14px;
  color: var(--input-text-color);
  background-color: var(--input-background-color);
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--accent-color);
  outline: none;
  box-shadow: 0 0 5px var(--accent-color); /* Focus shadow */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-cancel {
  background-color: var(--btn-cancel-background);
  color: var(--primary-text-color);
}

.btn-cancel:hover {
  background-color: var(--btn-cancel-hover);
}
